/*style sheet for the productivity dashboard website */
html {
    -webkit-font-smoothing: antialiased;
    background-color: #e7cdbc ;
}
    

.bg-image {
  position: relative;
  display: flex;
  justify-content: center;
}
.bg-image::before {
  background-image: url(https://preview.ibb.co/fSHzBk/kpme4.png);
  opacity: 0.6;
  text-emphasis-color: black;
}

h1 {
  text-align: center;
  font-family: "Noto Serif", "serif";
  font-size: 40px;
  /* background-color: #DABDAB; */
  margin-top: 40px;
}

h2 {
    font-size: 20px;
}

#main_content {
  margin-top: 50px;
  width: 1000px;
  height: 1000px;
  margin-left: 250px;
}

#main_content li {
  display: inline;
  list-style-type: none;
  background-color: #dabdab;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}

#main_content li.notselected {
  background-color: #dabdab;
  margin-right: 3px;
  color: #292a0a;
}

#main_content li.selected {
  background-color: #f9ece6;
  margin-right: 20px;
  color: #292a0a;
}

#main_content .hidden_desc {
  display: none;
  visibility: hidden;
}

#main_content #page_content {
  background-color: #f9ece6;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0px 15px 15px 15px;
  color: #2e2e2e;
  line-height: 1.6em;
  word-spacing: 4px;
}

p{
  margin-bottom: 0px;
  margin-top: 0px;
}

p.entry_name {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight: bold;
}

p.entry_tag{
  font-size: 15px;
  color: #8D8D8D;
}

a:link{
  text-decoration: none;
  color: #73532D;
}

a:hover{
  color: #730202;
  text-decoration: underline;
  font-weight: bold;
}


#add_entry {
  margin: auto;
  width: 40%;
  border: 3px solid grey;
  padding: 2px;
  border-radius: 10px;
  background-color: white;
}

.input_selection {
  display: block;
  margin: auto;
  width: 95%;
  padding: 5px;
}

.submit {
    text-align: center;
    display: block;
    margin: auto;
    width: 50%;
}

.expand_label {
  display: inline-block;
  width: 30%;
}

.expand_input {
  width: 65%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #292a0a;
}

.controls, .tag-box {
    display: flex;
    flex-wrap: wrap;
}

.controls div label, .tag-box div label {
    margin-right: 10px;
}

